qCore.xcodeproj/russ.mode1v3
qCore.xcodeproj/russ.pbxuser
qCore.xcodeproj/project.xcworkspace/xcuserdata/rusl.xcuserdatad/UserInterfaceState.xcuserstate
qCore.xcodeproj/project.xcworkspace/xcuserdata/russ.xcuserdatad/UserInterfaceState.xcuserstate
